<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 web1">
            <h3>Barber shop landing page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt quidem corporis, veritatis deserunt iure asperiores eius mollitia dicta? Blanditiis provident voluptatibus nesciunt minus. Rerum, numquam repellat. Porro, harum culpa.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1  offset-lg-1 web2">
            <img src="../../../assets/img/webpageejemplo.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>