.row{
    background-color: #a1b5cb;
    padding: 20px;
}

.contenedor{
    width: auto;

}

.web1, .web2 {
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}