<div class="row">
    <h1>Educación</h1>
    <div class="col-lg11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum sequi dolorem esse odit eligendi officia eaque obcaecati veritatis dolor. Nesciunt nostrum a culpa modi dolorem deleniti animi exercitationem impedit ducimus!</p>                      
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum sequi dolorem esse odit eligendi officia eaque obcaecati veritatis dolor. Nesciunt nostrum a culpa modi dolorem deleniti animi exercitationem impedit ducimus!</p>                      
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum sequi dolorem esse odit eligendi officia eaque obcaecati veritatis dolor. Nesciunt nostrum a culpa modi dolorem deleniti animi exercitationem impedit ducimus!</p>                      
        </ul>
    </div>

</div>