<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/fotoperfil.jpg" class="img-fluid" id="fotoperfil">        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Web Developer</p>
    </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h3>Acerca de mi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eius perspiciatis aliquid ratione est consequuntur accusamus vitae nisi omnis unde autem, maxime laborum sint eos eligendi illo! Facilis, eligendi facere.</p>
            </span>
        </div>
</div>
