.div {
    padding: 20px;
    background-color: #f1f1f1;
}

div {
    
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 10%;
}

.btn-info{
 color: whitesmoke;
 text-transform: uppercase;
}

.tittle {
    color: #B67580;
}

.blocktext {
    color: #0D0A0B
}

@media (min-width: 576px) {
    #fotoperfil {


        border-radius: 100%;
        box-shadow: 3px 3px 3px #223144;

    }

    .descrip {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 576px) {
    #fotoperfil {


        border-radius: 100%;
        box-shadow: 3px 3px 3px #223144;

    }

    .descrip {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}