#name {
  text-align: center;
}

div {
  padding: 15px;
  background-color: #f1f1f1;
}

#nombre {
  font-weight: bold;
}

.tittle {
  color: purple;
}

.blocktext {
  color: #0d0a0b;
}

@media (min-width: 576px) {
  #fotoperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #223144;
  }

  .descrip {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  #fotoperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #223144;
  }

  .descrip {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
