.row{
    padding: 20px;
    background-color: #f1f1f1;
}

div{
    background-color: #f1f1f1;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 10%;
}

.tittle{
    color: #B67580;
}

.blocktext{
    color: #0D0A0B
}

@media (min-width: 576px) {
        #fotoperfil{
            position: absolute;
            width: 15%;
            border-radius:100%;
            box-shadow: 3px 3px 3px #223144;
            left: 3%;
            top: 200px;
    }
}

@media (max-width: 576px) {
    #fotoperfil{
        position: absolute;
        width: 20%;
        border-radius:100%;
        box-shadow: 3px 3px 3px #223144;
        left: 41%;
        top: 350px;
    }
}