.gradient-custom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(..//..//..//assets/img/background4.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }