<section class="banner">
  <main class="container">
    <p>Hello 👋 I'm</p>
    <section class="animation">
      <div class="first"><div>Juan M. Castañar</div></div>
      <div class="second"><div>Fullstack Web Developer Jr</div></div>
      <div class="third"><div>& future Systems Analyst</div></div>
    </section>
    
   
  </main>
  <body>
    <div class="buttons-network">
      
      <a
      class="buttons-network__button"
      href="https://www.facebook.com/juanpetarcich"
      target="_blank"
    >
      <i class="fa-brands fa-facebook-f"></i>
      <span>Facebook</span>
      
    </a>
    <a
      class="buttons-network__button"
      href="https://www.instagram.com/gringo.dev/"
      target="_blank"
    >
      <i class="fa-brands fa-instagram"></i>
      <span>Instagram</span>
    </a>
    <a
      class="buttons-network__button"
      href="https://www.whatsapp.com"
      target="_blank"
    >
      <i class="fa-brands fa-whatsapp"></i>
      <span>Whatsapp</span>
    </a>
    <a
      class="buttons-network__button"
      href="https://www.linkedin.com/in/juanpetarcich/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin-in"></i>
      <span>Linkedin</span>
    </a>
  </div>
  </body>
 
  
  

 


