<div class="row hysskill">
    <div class="titulo">
        <h1>Hard & Soft Skills</h1>
    </div>

    <div class="contenido">
        <div class="col-lg-2 divnewskill">
            <button type="button" class="btn btn-dark" routerLink="/newskill" *ngIf="isLogged">
                Agregar Skill
            </button>
        </div>
        <div class="row">
            <div class="text-center col-sm-12 col-md-6 col-lg-4 circulo" *ngFor="let skill of skill">
 
        <circle-progress 
        [radius]= "60"
        [space]= "-10"
        [outerStrokeGradient]= "true"
        [outerStrokeWidth]= "10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= "10"
        [title]= "(skill.nombre)"
        [percent]="(skill.porcentaje)"
        [animateTitle]= "false"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [clockwise]= "false"
        [startFromZero]= "false"
        [lazy]= "true">
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>

