.hysskill {

    margin: 2em;

}


.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido {
    padding: 30px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow:  5px 5px 5px black;
}

.titulo {
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(..//..//..//assets/img/background4.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

h1 {
    
    display: inline-block;
    
    color: #fff;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    box-shadow:  5px 5px 5px black;
}

h2 {
    display: inline;
}

.btnedit, .btndel {
    height: 3em;
    width: 3em;
    margin: 0.5em;
}

.divnewskill {
    margin-bottom: 1em;
}

@media (max-width: 575px) {
    .contenido {
        text-align: center;

    }
    
}
