<div class="row">
<h1>Hard Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
<h1>Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"  
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="450"
        ></circle-progress>          
    </div>
</div>