<header>
  <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
    <img
      src="../../../assets/img/APLogo-20-20.png"
      alt="Logo Argentina Programa"
      id="logo"
      data-aos="zoom-out" data-aos-duration="1500"/>
  </a>
<nav>
  <ul>
    <li><a href="">Inicio</a></li>

    <li>
        <form class="list-group-item" role="login">
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="login()"
            *ngIf="!isLogged"
          >
            INGRESAR
          </button>
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="onLogout()"
            *ngIf="isLogged"
          >
            SALIR
          </button>
        </form>
      </li>
    </ul>
</nav>
</header>

