.container button{
    display: flex;
    justify-content: space-between;
    align-items: center;      
}

#logoAP{
    width: 150px;        
}

.btn{
    border-width: small;    
}

.list-group{
    --bs-list-group-bg: transparent;     
}

.fa-brands.fa-2x:hover{
    --bs-text-opacity: 1;
    color: lightsalmon !important;    
}

.list-group-item {
    border: none;
}


button {
    box-shadow: inset 0 0 0 0 lightsalmon;
    color: white;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button:hover {
    box-shadow: inset 100px 0 0 0 lightsalmon   ;
    color: black;
    



    
    
}


